@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CrashesViewModel


<<div class="text-center">
    <h5 class="display-4">Crashes</h5>
    <br />
</div>

    <!-- crash table -->
    @foreach (Crash c in Model.Crashes)
    {
        <partial name="CrashSummary" model="c" />
    }

<div page-blah="@Model.PageInfo" page-action="Index" page-class="btn"
        page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
        page-classes-enabled="true"
        class="btn-group pull-right m-1"></div>