@{
    ViewData["Title"] = "Home";
}

<!--MAIN BANNER AREA START -->
<div class="banner-area banner-3">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
                        <div class="banner-content content-padding">
                            <h5 class="subtitle">Utah MVC</h5>
                            <h1 class="banner-title">Keeping you safe on the road.</h1>
                            <p>We provide data to help decrease motor vehicle collisions in Utah.</p>

                            <a href="#" class="btn btn-white btn-circled">Check out the data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--MAIN HEADER AREA END -->
